<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ParkingHouseSize" value="100"/>
		<add key="ParkingSpotSize" value="4"/>
		<add key="FreeMinutes" value="10"/>
		<add key="CarPrice" value="20"/>
		<add key="MCPrice" value="10"/>
	</appSettings>
	
	<!--<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>-->
</configuration>
